@model WebApplication3.Models.Voucher

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style="margin: auto; width: 40%;margin-top:150px">
    <h4>Thông tin chi tiết Voucher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            MÃ CODE
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            % GIẢM GIÁ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountPercent)
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
    </p>
</div>
