
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>VỀ TRANG WEB CỦA CHÚNG TÔI</h2>
                    <span>Tuyệt vời, Mới lạ &amp; Sáng tạo </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="~/assets/images/about-left-image.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content" style="font-family: 'Times New Roman', serif;">
                    <h2>Về Chúng Tôi & Kỹ Năng Của Chúng Tôi</h2>
                    <p>Chúng tôi cam kết mang đến dịch vụ xuất sắc, tận dụng kỹ năng và chuyên môn của mình. Chúng tôi không chỉ cung cấp những món ăn ngon mà còn đặc biệt chú trọng đến từng chi tiết để mang đến trải nghiệm khách hàng tốt nhất.</p>
                    <blockquote>
                        <p>Sự chú ý đến chi tiết là điều làm nên sự khác biệt so với các chủ đề khác. Chúng tôi luôn lắng nghe và đáp ứng mọi nhu cầu của khách hàng, từ những yêu cầu đơn giản đến những mong đợi cao cấp nhất.</p>
                    </blockquote>
                    <p>Chúng tôi tự hào về công việc của mình, luôn phấn đấu vì sự xuất sắc và đảm bảo sự hài lòng của khách hàng. Chúng tôi tin rằng mỗi sản phẩm và dịch vụ mà chúng tôi mang đến đều phản ánh tinh thần nhiệt huyết và chuyên nghiệp của đội ngũ.</p>

                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="our-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Đội Ngũ Tuyệt Vời Của Chúng Tôi</h2>
                    <span>Chi tiết là yếu tố tạo nên sự khác biệt.</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">

                        </div>
                        <img src="~/Images/rb.jpg" />
                    </div>
                    <div class="down-content">

                        <span>Người Chăm Sóc Sản Phẩm</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">

                            </div>
                        </div>
                        <img src="~/Images/sn.jpg" />
                    </div>
                    <div class="down-content">

                        <span>Người Chăm Sóc Sản Phẩm</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">

                            </div>
                        </div>
                        <img src="~/Images/tld.jpg" />
                    </div>
                    <div class="down-content">

                        <span>Người Chăm Sóc Sản Phẩm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Dịch Vụ Của Chúng Tôi</h2>
                        <span>Chúng tôi chú trọng vào chi tiết là điều làm nên sự khác biệt so với các chủ đề khác.</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Sáng Tạo Món Ăn Mới Phù Hợp Với Xu Thế</h4>
                        <p>Khám phá sự sáng tạo trong việc phát triển những món ăn mới tại chúng tôi, được thiết kế để đáp ứng xu hướng và nhu cầu của thị trường ẩm thực hiện đại.</p>

                        <img src="~/assets/images/service-01.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Chuyên Môn Về Sản Phẩm Địa Phương</h4>
                        <p>Khám phá chuyên môn của chúng tôi về các sản phẩm có nguồn gốc địa phương, thúc đẩy các thực hành bền vững.</p>
                        <img src="~/assets/images/service-02.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Tập Trung Vào Sức Khỏe và Sức Khỏe</h4>
                        <p>Om sát với hướng tiếp cận về sức khỏe cho một lối sống lành mạnh hơn.</p>
                        <img src="~/assets/images/service-03.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

